
  <br/><br/>

  <div class="outer-div">
  <div class="row justify-content-center" >
    <div class="col-sm-3 ">
      <div class="card second" >
        <img class="card-img-top" src="assets/images/veggies.jpg" alt="Card image cap"width="250" 
        height="300">
        <div class="card-body">
          <h5 class="card-title">Post Crops</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk.</p>
          <a href="#" routerLink="/add-crop" class="btn btn-info">Sell Crops</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 ">
      <div class="card second">
        <img class="card-img-top" src="assets/images/viewcrops.png" alt="Card image cap"  width="250" 
        height="300">
        <div class="card-body">
          <h5 class="card-title">View Published Crops</h5>
          <p class="card-text">Click below to see the crops pyblished by you.</p>
          <a  routerLink="/viewcropfarmer" class="btn btn-info">View Crops</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 ">
      <div class="card  second">
        <img class="card-img-top" src="assets/images/invoice.png" alt="Card image cap" style="height: 340px;">
        <div class="card-body">
          <h5 class="card-title">View Invoices</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a  routerLink="/invoices" class="btn btn-info">View Invoice</a>
          <br/><br/>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
  