  <br/><br/>

  <div class="outer-div">
   <div class="row justify-content-center">
     <div class="col-sm-3 ">
       <div class="card second" >
         <img class="card-img-top" src="assets/images/veggies.jpg" alt="Card image cap"width="250" 
         height="300">
         <div class="card-body">
           <h2 class="card-title">View Crops</h2>
           <p class="card-text">Click below to see all the crops posted by Farmers all over India</p>
           <a href="#" routerLink="/viewcropdealer" class="btn btn-info">View Crops</a>
         </div>
       </div>
     </div>
  
     <div class="col-sm-3 mx-4">
       <div class="card  second">
         <img class="card-img-top" src="assets/images/invoice.png" alt="Card image cap" style="height: 350px;">
         <div class="card-body">
           <h2 class="card-title">View Invoices</h2>
           <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
           <a href="invoice" routerLink="/invoices" class="btn btn-info">View Invoice</a>
           <br/> <br/>
         </div>
       </div>
     </div>
   </div>
  </div>
  <br/>