
  <br/><br/>
  <div class="row justify-content-center">
    <div class="col-sm-3 ">
      <div class="card second" >
        <img class="card-img-top" src="assets/images/veggies.jpg" alt="Card image cap" width="250" height="300">
        <div class="card-body">
          <h5 class="card-title">Change User Status</h5>
          <p class="card-text">Change the Status of the User from Here</p>
          <a href="userStatus" routerLink="/userStatus" class="btn btn-info">Status</a>
        </div>
      </div>
    </div>
    
    <div class="col-sm-3 mx-4">
      <div class="card  second">
        <img class="card-img-top" src="assets/images/invoice.png" alt="Card image cap" style="height: 350px;">
        <div class="card-body">
          <h5 class="card-title">View Invoices</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="reports" routerLink="/reports" class="btn btn-info">View Invoice</a>
        </div>
      </div>
    </div>
  </div>
<br/>